-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: guagua
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad`
--

DROP TABLE IF EXISTS `actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actividad` (
  `id_actividad` int(11) NOT NULL AUTO_INCREMENT,
  `id_asignacion` int(10) NOT NULL,
  `fecha_publicacion` date DEFAULT NULL,
  `hora_publicacion` time NOT NULL,
  `id_red` int(11) DEFAULT NULL,
  `nombre_actividad` varchar(120) DEFAULT NULL,
  `Observaciones` text DEFAULT NULL,
  `adjunto` varchar(2) DEFAULT NULL,
  `evaluable` varchar(2) DEFAULT NULL,
  `fecha_entrega` date DEFAULT NULL,
  `hora_entrega` varchar(30) DEFAULT NULL,
  `periodo` int(1) NOT NULL,
  `visible` varchar(2) DEFAULT NULL,
  `cuestionario` varchar(2) DEFAULT NULL,
  `id_cuestionario` int(11) DEFAULT NULL,
  `foro` varchar(2) DEFAULT NULL,
  `id_foro` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_actividad`),
  KEY `id_asignacion_academica` (`id_asignacion`),
  KEY `id_red` (`id_red`),
  KEY `id_cuestionario` (`id_cuestionario`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividad`
--

LOCK TABLES `actividad` WRITE;
/*!40000 ALTER TABLE `actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `actividades`
--

DROP TABLE IF EXISTS `actividades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actividades` (
  `actividad` varchar(255) NOT NULL,
  `descripcion_actividad` text DEFAULT NULL,
  PRIMARY KEY (`actividad`),
  UNIQUE KEY `actividad` (`actividad`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividades`
--

LOCK TABLES `actividades` WRITE;
/*!40000 ALTER TABLE `actividades` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `acudiente_estudiante`
--

DROP TABLE IF EXISTS `acudiente_estudiante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `acudiente_estudiante` (
  `id_acudiente_estudiante` int(11) NOT NULL AUTO_INCREMENT,
  `id_acudiente` varchar(255) DEFAULT NULL,
  `id_estudiante` varchar(255) DEFAULT NULL,
  `parentesco` varchar(255) NOT NULL,
  UNIQUE KEY `id_acudiente_estudiante` (`id_acudiente_estudiante`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='AsociaciÔö£├ÂÔö£├éÔö¼├║Ôö£├ÂÔö£├éÔö£┬«n de acudiente con estudiante';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `acudiente_estudiante`
--

LOCK TABLES `acudiente_estudiante` WRITE;
/*!40000 ALTER TABLE `acudiente_estudiante` DISABLE KEYS */;
/*!40000 ALTER TABLE `acudiente_estudiante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ano_lectivo`
--

DROP TABLE IF EXISTS `ano_lectivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ano_lectivo` (
  `id_ano_lectivo` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_ano_lectivo` year(4) DEFAULT NULL,
  `descripcion_ano` text DEFAULT NULL,
  `estado` enum('Activo','Inactivo') CHARACTER SET utf8 COLLATE utf8_bin NOT NULL DEFAULT 'Inactivo',
  PRIMARY KEY (`id_ano_lectivo`),
  UNIQUE KEY `ano_lectivo` (`nombre_ano_lectivo`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ano_lectivo`
--

LOCK TABLES `ano_lectivo` WRITE;
/*!40000 ALTER TABLE `ano_lectivo` DISABLE KEYS */;
INSERT INTO `ano_lectivo` VALUES (3,2018,'2018b ','Inactivo'),(11,2019,'','Inactivo'),(12,2020,NULL,'Inactivo'),(13,2021,NULL,'Inactivo'),(14,2023,NULL,'Inactivo'),(15,2024,'..','Inactivo'),(16,2025,'..','Activo');
/*!40000 ALTER TABLE `ano_lectivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `area`
--

DROP TABLE IF EXISTS `area`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `area` (
  `id_area` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_area` varchar(90) DEFAULT NULL,
  PRIMARY KEY (`id_area`)
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `area`
--

LOCK TABLES `area` WRITE;
/*!40000 ALTER TABLE `area` DISABLE KEYS */;
INSERT INTO `area` VALUES (1,'Ciencias naturales y educaci├│n ambiental'),(2,'Ciencias sociales, historia, geograf├¡a, constituci├│n pol├¡tica y democracia'),(3,'Educaci├│n art├¡stica'),(4,'Educaci├│n ├®tica y en valores humanos'),(5,'Educaci├│n f├¡sica, recreaci├│n y deportes'),(6,'Educaci├│n religiosa'),(7,'Humanidades, lengua castellana e idiomas extranjeros'),(8,'Matem├íticas'),(9,'Tecnolog├¡a e inform├ítica'),(10,'Transici├│n');
/*!40000 ALTER TABLE `area` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asignacion`
--

DROP TABLE IF EXISTS `asignacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asignacion` (
  `id_asignacion` int(255) NOT NULL AUTO_INCREMENT,
  `institucion_educativa` int(12) NOT NULL DEFAULT 1,
  `id_curso` int(11) NOT NULL,
  `id_asignatura` int(11) NOT NULL,
  `id_docente` int(12) NOT NULL DEFAULT 1085290375,
  `ano_lectivo` int(8) NOT NULL,
  `descripcion` varchar(240) DEFAULT NULL,
  `id_categoria_curso` int(11) NOT NULL,
  `visible` varchar(2) DEFAULT NULL,
  `portada_asignacion` varchar(255) DEFAULT NULL,
  `icono_asignacion` varchar(255) NOT NULL DEFAULT 'agenda.png',
  `asistencia` int(1) NOT NULL DEFAULT 0,
  UNIQUE KEY `id_asignacion` (`id_asignacion`),
  KEY `asignacion_ibfk_5` (`id_docente`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignacion`
--

LOCK TABLES `asignacion` WRITE;
/*!40000 ALTER TABLE `asignacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `asignacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asistencia`
--

DROP TABLE IF EXISTS `asistencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asistencia` (
  `id_asistencia` int(11) NOT NULL AUTO_INCREMENT,
  `id_docente` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `id_materia` int(11) NOT NULL,
  `id_estudiante` varchar(255) DEFAULT NULL,
  `asistencia` varchar(7) NOT NULL DEFAULT 'no',
  `fecha` date NOT NULL,
  PRIMARY KEY (`id_asistencia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asistencia`
--

LOCK TABLES `asistencia` WRITE;
/*!40000 ALTER TABLE `asistencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `asistencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asistencias`
--

DROP TABLE IF EXISTS `asistencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asistencias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `estudiante` varchar(100) DEFAULT NULL,
  `materia` varchar(50) DEFAULT NULL,
  `asistencias` varchar(255) DEFAULT NULL,
  `fechas_clase` text DEFAULT NULL,
  `documento` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uidx_asistencias` (`documento`,`materia`,`fechas_clase`) USING HASH
) ENGINE=InnoDB AUTO_INCREMENT=2043 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asistencias`
--

LOCK TABLES `asistencias` WRITE;
/*!40000 ALTER TABLE `asistencias` DISABLE KEYS */;
/*!40000 ALTER TABLE `asistencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `atajos`
--

DROP TABLE IF EXISTS `atajos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `atajos` (
  `id_atajo` int(11) NOT NULL AUTO_INCREMENT,
  `atajo` varchar(255) NOT NULL,
  `descripcion` varchar(255) NOT NULL,
  `programa` varchar(255) NOT NULL DEFAULT 'excel',
  PRIMARY KEY (`id_atajo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `atajos`
--

LOCK TABLES `atajos` WRITE;
/*!40000 ALTER TABLE `atajos` DISABLE KEYS */;
/*!40000 ALTER TABLE `atajos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditoria_planeador_vallesol`
--

DROP TABLE IF EXISTS `auditoria_planeador_vallesol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditoria_planeador_vallesol` (
  `id_audtioria` int(12) NOT NULL AUTO_INCREMENT,
  `texo_sql` text NOT NULL,
  `fecha` timestamp NOT NULL DEFAULT current_timestamp(),
  `materia` varchar(255) NOT NULL,
  `grado` varchar(255) NOT NULL,
  `observaciones` text NOT NULL,
  PRIMARY KEY (`id_audtioria`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria_planeador_vallesol`
--

LOCK TABLES `auditoria_planeador_vallesol` WRITE;
/*!40000 ALTER TABLE `auditoria_planeador_vallesol` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria_planeador_vallesol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categoria` (
  `id_categoria` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_categoria` varchar(120) NOT NULL,
  PRIMARY KEY (`id_categoria`),
  UNIQUE KEY `nombre_categoria` (`nombre_categoria`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria_curso`
--

DROP TABLE IF EXISTS `categoria_curso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categoria_curso` (
  `id_categoria_curso` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_categoria_curso` varchar(120) NOT NULL,
  `descripcion_categoria_curso` varchar(255) NOT NULL,
  `nivel_educativo` int(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id_categoria_curso`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria_curso`
--

LOCK TABLES `categoria_curso` WRITE;
/*!40000 ALTER TABLE `categoria_curso` DISABLE KEYS */;
INSERT INTO `categoria_curso` VALUES (1,'1','',1),(2,'2','',1),(3,'3','',1),(4,'4','',1),(5,'5','',1),(6,'6','',1),(7,'7','',1),(8,'8','',1),(9,'9','',1),(10,'10','',1),(11,'11','',1),(12,'tecnico1','',1),(13,'tecnico2','',1),(14,'tecnico3','',1),(15,'tecnico4','',1),(16,'Transici├│n','',1);
/*!40000 ALTER TABLE `categoria_curso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `citas`
--

DROP TABLE IF EXISTS `citas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `citas` (
  `id_citas` int(11) NOT NULL AUTO_INCREMENT,
  `estudiante` int(12) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `hora_inicio` time NOT NULL,
  `fecha_fin` varchar(255) NOT NULL,
  `hora_fin` varchar(255) NOT NULL,
  `docente` varchar(255) NOT NULL,
  `observaciones` varchar(255) NOT NULL,
  PRIMARY KEY (`id_citas`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citas`
--

LOCK TABLES `citas` WRITE;
/*!40000 ALTER TABLE `citas` DISABLE KEYS */;
/*!40000 ALTER TABLE `citas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comentario`
--

DROP TABLE IF EXISTS `comentario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comentario` (
  `id_comentario` int(11) NOT NULL,
  `id_entrada` int(11) NOT NULL,
  `fecha` timestamp NOT NULL DEFAULT current_timestamp(),
  `contenido` text NOT NULL,
  `usuario` varchar(12) NOT NULL,
  `estrellas` text NOT NULL,
  `rol_quien_comenta` varchar(255) NOT NULL,
  `estado` varchar(255) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comentario`
--

LOCK TABLES `comentario` WRITE;
/*!40000 ALTER TABLE `comentario` DISABLE KEYS */;
/*!40000 ALTER TABLE `comentario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config`
--

DROP TABLE IF EXISTS `config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `config` (
  `id_config` int(11) NOT NULL AUTO_INCREMENT,
  `fecha_inicio` date NOT NULL,
  `hora_inicio` time NOT NULL,
  `ano` year(4) NOT NULL,
  `fecha_fin` date NOT NULL,
  `hora_fin` time NOT NULL,
  `docente` varchar(12) NOT NULL,
  `estado` int(1) NOT NULL,
  PRIMARY KEY (`id_config`)
) ENGINE=MyISAM AUTO_INCREMENT=12 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config`
--

LOCK TABLES `config` WRITE;
/*!40000 ALTER TABLE `config` DISABLE KEYS */;
INSERT INTO `config` VALUES (1,'2018-11-05','04:47:10',2018,'0000-00-00','00:00:00','1085290375',0),(2,'2018-11-05','04:47:17',2018,'0000-00-00','00:00:00','1085290375',0),(3,'2018-11-05','04:47:19',2018,'0000-00-00','00:00:00','1085290375',0),(11,'2019-02-17','05:14:09',2019,'2019-02-18','05:53:58','1085290375',0);
/*!40000 ALTER TABLE `config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contenido`
--

DROP TABLE IF EXISTS `contenido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contenido` (
  `contenido` varchar(255) NOT NULL,
  PRIMARY KEY (`contenido`),
  UNIQUE KEY `contenido` (`contenido`),
  UNIQUE KEY `contenido_2` (`contenido`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contenido`
--

LOCK TABLES `contenido` WRITE;
/*!40000 ALTER TABLE `contenido` DISABLE KEYS */;
/*!40000 ALTER TABLE `contenido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `control_ingreso`
--

DROP TABLE IF EXISTS `control_ingreso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `control_ingreso` (
  `fecha_ingreso` date NOT NULL,
  `grupo` text NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `fecha_salida` date NOT NULL,
  `hora_ingreso` varchar(255) NOT NULL,
  `hora_salida` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `control_ingreso`
--

LOCK TABLES `control_ingreso` WRITE;
/*!40000 ALTER TABLE `control_ingreso` DISABLE KEYS */;
/*!40000 ALTER TABLE `control_ingreso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cuestionario`
--

DROP TABLE IF EXISTS `cuestionario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cuestionario` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `fecha` date NOT NULL,
  `tipo_cuestionario` varchar(255) NOT NULL,
  `usuario` varchar(12) NOT NULL,
  `estrellas` text DEFAULT NULL,
  `visitas` bigint(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuestionario`
--

LOCK TABLES `cuestionario` WRITE;
/*!40000 ALTER TABLE `cuestionario` DISABLE KEYS */;
INSERT INTO `cuestionario` VALUES (1,'Examen de inform├ítica empresarial\nExamen de inform├ítica empresarial\nExamen de inform├ítica empresarial\n','2019-04-08','inform├ö├Â┬úÔö£┬ítica empresarial','1085290375',NULL,24);
/*!40000 ALTER TABLE `cuestionario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `curso`
--

DROP TABLE IF EXISTS `curso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `curso` (
  `id_curso` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_curso` varchar(90) NOT NULL,
  `id_grado` int(11) NOT NULL,
  PRIMARY KEY (`id_curso`),
  KEY `id_grado` (`id_grado`)
) ENGINE=MyISAM AUTO_INCREMENT=15 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `curso`
--

LOCK TABLES `curso` WRITE;
/*!40000 ALTER TABLE `curso` DISABLE KEYS */;
/*!40000 ALTER TABLE `curso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dba`
--

DROP TABLE IF EXISTS `dba`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dba` (
  `id_dba` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_dba` text NOT NULL,
  `descripcion_dba` text DEFAULT NULL,
  `id_estandar` int(11) NOT NULL,
  PRIMARY KEY (`id_dba`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dba`
--

LOCK TABLES `dba` WRITE;
/*!40000 ALTER TABLE `dba` DISABLE KEYS */;
/*!40000 ALTER TABLE `dba` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `digitacion`
--

DROP TABLE IF EXISTS `digitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `digitacion` (
  `id_dijitacion` int(11) NOT NULL AUTO_INCREMENT,
  `estudiante` varchar(255) NOT NULL,
  `fecha_registro` date NOT NULL,
  `hora_registro` time NOT NULL,
  `aciertos` int(11) NOT NULL DEFAULT 0,
  `errores` int(11) NOT NULL DEFAULT 0,
  `obseraciones` text NOT NULL,
  `ejercicio` int(1) NOT NULL,
  PRIMARY KEY (`id_dijitacion`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `digitacion`
--

LOCK TABLES `digitacion` WRITE;
/*!40000 ALTER TABLE `digitacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `digitacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `digitacion_lecturas`
--

DROP TABLE IF EXISTS `digitacion_lecturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `digitacion_lecturas` (
  `id_lectura` int(11) NOT NULL AUTO_INCREMENT,
  `lectura` text NOT NULL,
  `descripcion` text NOT NULL,
  `nombre_lectura` varchar(255) NOT NULL,
  PRIMARY KEY (`id_lectura`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `digitacion_lecturas`
--

LOCK TABLES `digitacion_lecturas` WRITE;
/*!40000 ALTER TABLE `digitacion_lecturas` DISABLE KEYS */;
/*!40000 ALTER TABLE `digitacion_lecturas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docente`
--

DROP TABLE IF EXISTS `docente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `docente` (
  `id_docente` int(12) NOT NULL,
  `nombre_docente` varchar(255) NOT NULL,
  `apellido_docente` varchar(255) NOT NULL,
  `clave` text NOT NULL,
  `usuario` varchar(255) NOT NULL,
  `correo_docente` varchar(255) NOT NULL,
  `telefono` varchar(255) NOT NULL,
  PRIMARY KEY (`id_docente`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docente`
--

LOCK TABLES `docente` WRITE;
/*!40000 ALTER TABLE `docente` DISABLE KEYS */;
INSERT INTO `docente` VALUES (1085290375,'Andres','Paz','abc','apaz','','');
/*!40000 ALTER TABLE `docente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edunotas`
--

DROP TABLE IF EXISTS `edunotas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `edunotas` (
  `id_nota` int(12) NOT NULL AUTO_INCREMENT,
  `nota` text NOT NULL,
  `id_asignacion` int(255) NOT NULL,
  `fecha_nota` date NOT NULL,
  `hora_nota` time NOT NULL,
  `fijar` int(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id_nota`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edunotas`
--

LOCK TABLES `edunotas` WRITE;
/*!40000 ALTER TABLE `edunotas` DISABLE KEYS */;
/*!40000 ALTER TABLE `edunotas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eje_tematico`
--

DROP TABLE IF EXISTS `eje_tematico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eje_tematico` (
  `id_eje_tematico` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_eje_tematico` varchar(255) NOT NULL,
  `descripcion_eje_tematico` text DEFAULT NULL,
  `id_dba` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_eje_tematico`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eje_tematico`
--

LOCK TABLES `eje_tematico` WRITE;
/*!40000 ALTER TABLE `eje_tematico` DISABLE KEYS */;
/*!40000 ALTER TABLE `eje_tematico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrada`
--

DROP TABLE IF EXISTS `entrada`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entrada` (
  `id` int(11) NOT NULL,
  `contenido` text CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
  `rol_quien_comenta` varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
  `fecha` datetime DEFAULT NULL,
  `grupo` int(11) NOT NULL,
  `usuario` varchar(12) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
  `estrellas` text CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
  `visitas` text CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
  `suscribirse` text CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
  `estado` enum('Publicado','Desactivado') CHARACTER SET utf8 COLLATE utf8_bin NOT NULL,
  `permitir_comentarios` varchar(2) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL DEFAULT 'SI',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrada`
--

LOCK TABLES `entrada` WRITE;
/*!40000 ALTER TABLE `entrada` DISABLE KEYS */;
INSERT INTO `entrada` VALUES (1,'Foro actividad ','admin','2019-04-02 19:39:44',0,'1085290375','','','','Publicado','SI');
/*!40000 ALTER TABLE `entrada` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `escala`
--

DROP TABLE IF EXISTS `escala`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `escala` (
  `id_escala` int(11) NOT NULL AUTO_INCREMENT,
  `valor` varchar(255) NOT NULL,
  `descripcion` text NOT NULL,
  PRIMARY KEY (`id_escala`),
  UNIQUE KEY `valor` (`valor`)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `escala`
--

LOCK TABLES `escala` WRITE;
/*!40000 ALTER TABLE `escala` DISABLE KEYS */;
INSERT INTO `escala` VALUES (1,'S','Siempre'),(2,'A','Aveces'),(3,'N','Nunca'),(4,'NM','Necesita Mejorar'),(6,'NS','No sabe');
/*!40000 ALTER TABLE `escala` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estandar`
--

DROP TABLE IF EXISTS `estandar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estandar` (
  `id_estandar` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_estandar` varchar(255) NOT NULL,
  `descripcion_estandar` text DEFAULT NULL,
  `grado` int(11) DEFAULT NULL,
  `id_periodo` int(11) DEFAULT NULL,
  `id_materia_oficial` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_estandar`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estandar`
--

LOCK TABLES `estandar` WRITE;
/*!40000 ALTER TABLE `estandar` DISABLE KEYS */;
/*!40000 ALTER TABLE `estandar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estrategias`
--

DROP TABLE IF EXISTS `estrategias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estrategias` (
  `estrategia` varchar(255) NOT NULL,
  `descripcion_estrategia` text DEFAULT NULL,
  PRIMARY KEY (`estrategia`),
  UNIQUE KEY `estrategia` (`estrategia`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estrategias`
--

LOCK TABLES `estrategias` WRITE;
/*!40000 ALTER TABLE `estrategias` DISABLE KEYS */;
/*!40000 ALTER TABLE `estrategias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluacion`
--

DROP TABLE IF EXISTS `evaluacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluacion` (
  `asignacion` varchar(255) NOT NULL,
  `respuestas` text NOT NULL,
  `session` int(11) NOT NULL,
  PRIMARY KEY (`asignacion`,`session`),
  KEY `session` (`session`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluacion`
--

LOCK TABLES `evaluacion` WRITE;
/*!40000 ALTER TABLE `evaluacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluador_guagua`
--

DROP TABLE IF EXISTS `evaluador_guagua`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluador_guagua` (
  `id_actividad` int(11) NOT NULL AUTO_INCREMENT,
  `estructura` text NOT NULL,
  `punto` varchar(2) NOT NULL,
  `usuario` varchar(255) NOT NULL,
  `version` int(4) NOT NULL DEFAULT 3,
  PRIMARY KEY (`id_actividad`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluador_guagua`
--

LOCK TABLES `evaluador_guagua` WRITE;
/*!40000 ALTER TABLE `evaluador_guagua` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluador_guagua` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluadorestudiante`
--

DROP TABLE IF EXISTS `evaluadorestudiante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluadorestudiante` (
  `id_actividad` int(11) NOT NULL AUTO_INCREMENT,
  `estructura` text NOT NULL,
  `usuario` varchar(255) NOT NULL,
  PRIMARY KEY (`id_actividad`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluadorestudiante`
--

LOCK TABLES `evaluadorestudiante` WRITE;
/*!40000 ALTER TABLE `evaluadorestudiante` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluadorestudiante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos`
--

DROP TABLE IF EXISTS `eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos` (
  `nom` varchar(255) NOT NULL,
  `descripcion` text NOT NULL,
  `fecha` date NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `id_usuario` varchar(12) NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `institucion` int(11) NOT NULL DEFAULT 1,
  `revisado` int(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos`
--

LOCK TABLES `eventos` WRITE;
/*!40000 ALTER TABLE `eventos` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evidencia_de_aprendizaje`
--

DROP TABLE IF EXISTS `evidencia_de_aprendizaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evidencia_de_aprendizaje` (
  `id_evidencia_aprendizaje` int(11) NOT NULL AUTO_INCREMENT,
  `descripcion_evidencia` text DEFAULT NULL,
  `id_dba` int(11) NOT NULL,
  PRIMARY KEY (`id_evidencia_aprendizaje`),
  KEY `id_dba` (`id_dba`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evidencia_de_aprendizaje`
--

LOCK TABLES `evidencia_de_aprendizaje` WRITE;
/*!40000 ALTER TABLE `evidencia_de_aprendizaje` DISABLE KEYS */;
/*!40000 ALTER TABLE `evidencia_de_aprendizaje` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facebook`
--

DROP TABLE IF EXISTS `facebook`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facebook` (
  `id_fb` int(12) NOT NULL AUTO_INCREMENT,
  `usuario` varchar(255) NOT NULL,
  `clave` varchar(255) NOT NULL,
  `detalle` text NOT NULL,
  PRIMARY KEY (`id_fb`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facebook`
--

LOCK TABLES `facebook` WRITE;
/*!40000 ALTER TABLE `facebook` DISABLE KEYS */;
/*!40000 ALTER TABLE `facebook` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `figuras`
--

DROP TABLE IF EXISTS `figuras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `figuras` (
  `id_figuras` int(8) NOT NULL,
  `figura` varchar(120) NOT NULL,
  `imagen_figura` varchar(120) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `figuras`
--

LOCK TABLES `figuras` WRITE;
/*!40000 ALTER TABLE `figuras` DISABLE KEYS */;
INSERT INTO `figuras` VALUES (1,'perro','perro.PNG'),(2,'gato','gato.PNG'),(3,'caballo','caballo.PNG'),(4,'conejo','conejo.PNG'),(5,'pato','pato.PNG');
/*!40000 ALTER TABLE `figuras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grado`
--

DROP TABLE IF EXISTS `grado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grado` (
  `id_grado` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(60) DEFAULT NULL,
  PRIMARY KEY (`id_grado`)
) ENGINE=MyISAM AUTO_INCREMENT=36 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grado`
--

LOCK TABLES `grado` WRITE;
/*!40000 ALTER TABLE `grado` DISABLE KEYS */;
INSERT INTO `grado` VALUES (35,'1'),(2,'2'),(3,'3'),(4,'4'),(5,'5'),(6,'6'),(7,'7'),(8,'8'),(9,'9'),(10,'10'),(11,'11'),(28,'12'),(29,'tecnico1'),(30,'tecnico2'),(31,'tecnico3'),(32,'tecnico 4'),(33,'Asistente administrativo'),(34,'Cursos libres');
/*!40000 ALTER TABLE `grado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grupo_foro`
--

DROP TABLE IF EXISTS `grupo_foro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grupo_foro` (
  `id_grupo_foro` int(11) NOT NULL,
  `nombre_grupo` varchar(255) NOT NULL,
  `roles_grupo` varchar(255) NOT NULL,
  `contexto` varchar(255) NOT NULL,
  `valor` int(11) DEFAULT NULL,
  `permitir_temas` varchar(2) NOT NULL DEFAULT 'SI',
  `icono` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grupo_foro`
--

LOCK TABLES `grupo_foro` WRITE;
/*!40000 ALTER TABLE `grupo_foro` DISABLE KEYS */;
INSERT INTO `grupo_foro` VALUES (1,'Institucional','admin,docente,acudiente,estudiante','general',0,'SI',513),(2,'Docentes','admin,docente','general',0,'SI',513),(3,'Estudiantes','admin,docente,estudiante','general',0,'SI',513),(4,'Acudientes','admin,docente,estudiante','general',0,'SI',498),(0,'Foro actividad ','admin,docente,estudiante','actividad',0,'NO',378);
/*!40000 ALTER TABLE `grupo_foro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horario`
--

DROP TABLE IF EXISTS `horario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `horario` (
  `id_horario` int(11) NOT NULL AUTO_INCREMENT,
  `id_asignacion` int(11) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `fecha_fin` date NOT NULL,
  `dia` varchar(20) NOT NULL,
  PRIMARY KEY (`id_horario`)
) ENGINE=InnoDB AUTO_INCREMENT=503 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horario`
--

LOCK TABLES `horario` WRITE;
/*!40000 ALTER TABLE `horario` DISABLE KEYS */;
/*!40000 ALTER TABLE `horario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `iconos`
--

DROP TABLE IF EXISTS `iconos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `iconos` (
  `id_iconos` int(11) NOT NULL,
  `icono` varchar(120) NOT NULL,
  `imagen_icono` varchar(120) NOT NULL,
  PRIMARY KEY (`id_iconos`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `iconos`
--

LOCK TABLES `iconos` WRITE;
/*!40000 ALTER TABLE `iconos` DISABLE KEYS */;
/*!40000 ALTER TABLE `iconos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscripcion`
--

DROP TABLE IF EXISTS `inscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscripcion` (
  `id_inscripcion` int(16) NOT NULL AUTO_INCREMENT,
  `id_asignacion` int(10) NOT NULL,
  `id_estudiante` varchar(255) NOT NULL,
  `fecha_inscripcion` date NOT NULL,
  `estado_inscripcion` enum('Aprobado','No aprobado','En curso','Retirado') NOT NULL,
  PRIMARY KEY (`id_inscripcion`)
) ENGINE=InnoDB AUTO_INCREMENT=280 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscripcion`
--

LOCK TABLES `inscripcion` WRITE;
/*!40000 ALTER TABLE `inscripcion` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscripcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `institucion_educativa`
--

DROP TABLE IF EXISTS `institucion_educativa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `institucion_educativa` (
  `id_institucion_educativa` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_institucion` varchar(255) NOT NULL,
  `logo_institucion` varchar(255) DEFAULT NULL,
  `direccion_institucion` text DEFAULT NULL,
  `telefono_institucion` int(11) DEFAULT NULL,
  `correo_institucion` varchar(255) DEFAULT NULL,
  `BANNER_INSTITUCION` varchar(255) DEFAULT NULL,
  `formatos_no_permitidos` varchar(255) DEFAULT NULL,
  `tamano_maximo_adjunto` varchar(255) DEFAULT NULL,
  `autoregistrarse` varchar(255) DEFAULT NULL,
  `plantilla` int(11) DEFAULT 1,
  PRIMARY KEY (`id_institucion_educativa`)
) ENGINE=MyISAM AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `institucion_educativa`
--

LOCK TABLES `institucion_educativa` WRITE;
/*!40000 ALTER TABLE `institucion_educativa` DISABLE KEYS */;
/*!40000 ALTER TABLE `institucion_educativa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kanban`
--

DROP TABLE IF EXISTS `kanban`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kanban` (
  `id_tarea` int(11) NOT NULL AUTO_INCREMENT,
  `tarea` text DEFAULT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  `estado` varchar(255) DEFAULT 'tarea',
  `fecha_actualizacion` datetime NOT NULL DEFAULT current_timestamp(),
  `categoria` varchar(255) NOT NULL DEFAULT 'laboral',
  PRIMARY KEY (`id_tarea`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kanban`
--

LOCK TABLES `kanban` WRITE;
/*!40000 ALTER TABLE `kanban` DISABLE KEYS */;
/*!40000 ALTER TABLE `kanban` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log`
--

DROP TABLE IF EXISTS `log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log` (
  `id_log` int(11) NOT NULL AUTO_INCREMENT,
  `fechayhoralog` datetime NOT NULL,
  `ipclientelog` varchar(255) NOT NULL,
  `valor` decimal(12,4) NOT NULL,
  `usuario` int(11) NOT NULL,
  `motivo` text NOT NULL,
  `categoria` varchar(255) NOT NULL DEFAULT 'sistema',
  PRIMARY KEY (`id_log`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log`
--

LOCK TABLES `log` WRITE;
/*!40000 ALTER TABLE `log` DISABLE KEYS */;
/*!40000 ALTER TABLE `log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materia`
--

DROP TABLE IF EXISTS `materia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materia` (
  `id_materia` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_materia` varchar(255) NOT NULL,
  `descripcion_materia` text NOT NULL,
  `obligatoria` varchar(2) NOT NULL DEFAULT 'no',
  `area` int(11) NOT NULL DEFAULT 9,
  `icono_materia` varchar(255) NOT NULL DEFAULT 'agenda.png',
  `institucion` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id_materia`),
  UNIQUE KEY `nombre_materia` (`nombre_materia`),
  KEY `nombre_materia_2` (`nombre_materia`)
) ENGINE=MyISAM AUTO_INCREMENT=77 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materia`
--

LOCK TABLES `materia` WRITE;
/*!40000 ALTER TABLE `materia` DISABLE KEYS */;
/*!40000 ALTER TABLE `materia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materia_oficial`
--

DROP TABLE IF EXISTS `materia_oficial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materia_oficial` (
  `id_materia` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_materia` varchar(255) NOT NULL,
  `descripcion` text DEFAULT NULL,
  PRIMARY KEY (`id_materia`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materia_oficial`
--

LOCK TABLES `materia_oficial` WRITE;
/*!40000 ALTER TABLE `materia_oficial` DISABLE KEYS */;
INSERT INTO `materia_oficial` VALUES (1,'Matem├íticas',NULL),(2,'Economia/politica',NULL),(3,'Ciencias Sociales',NULL),(4,'Educaci├│n F├¡sica',NULL),(5,'Geometria',NULL),(6,'Fisica',NULL),(7,'Tecnolog├¡a e inform├ítica',NULL),(8,'Urbanidad',NULL),(9,'Emprendimiento',NULL);
/*!40000 ALTER TABLE `materia_oficial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matricula`
--

DROP TABLE IF EXISTS `matricula`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matricula` (
  `id_matricula` int(11) NOT NULL AUTO_INCREMENT,
  `id_estudiante` varchar(12) NOT NULL,
  `id_asignacion` int(11) NOT NULL,
  `fecha_matricula` date NOT NULL,
  `obserbaciones_matricula` text NOT NULL,
  PRIMARY KEY (`id_matricula`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matricula`
--

LOCK TABLES `matricula` WRITE;
/*!40000 ALTER TABLE `matricula` DISABLE KEYS */;
/*!40000 ALTER TABLE `matricula` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensaje`
--

DROP TABLE IF EXISTS `mensaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mensaje` (
  `id_mensaje` int(11) NOT NULL AUTO_INCREMENT,
  `usuario` varchar(12) NOT NULL DEFAULT '1',
  `mensaje` text NOT NULL,
  `fecha` timestamp NOT NULL DEFAULT current_timestamp(),
  `leido` varchar(2) NOT NULL DEFAULT 'NO',
  `remite` varchar(12) NOT NULL,
  `estado_usuario` varchar(255) NOT NULL DEFAULT 'entrada',
  `estado_remite` varchar(255) NOT NULL,
  `favorito` varchar(2) NOT NULL,
  PRIMARY KEY (`id_mensaje`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensaje`
--

LOCK TABLES `mensaje` WRITE;
/*!40000 ALTER TABLE `mensaje` DISABLE KEYS */;
/*!40000 ALTER TABLE `mensaje` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_items`
--

DROP TABLE IF EXISTS `menu_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_items` (
  `menu_item_id` int(11) NOT NULL AUTO_INCREMENT,
  `menu_item_name` varchar(255) NOT NULL,
  `menu_description` text NOT NULL,
  `menu_url` varchar(255) NOT NULL,
  `menu_parent_id` int(11) NOT NULL,
  `url_target` varchar(255) NOT NULL,
  `class` varchar(255) NOT NULL,
  `icono` varchar(255) NOT NULL,
  `ubicacion` varchar(255) NOT NULL,
  `tipo` varchar(255) NOT NULL,
  `color` varchar(255) NOT NULL,
  `permisos_menu` text NOT NULL,
  PRIMARY KEY (`menu_item_id`),
  UNIQUE KEY `menu_item_name` (`menu_item_name`),
  KEY `ubicacion` (`ubicacion`),
  KEY `tipo` (`tipo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_items`
--

LOCK TABLES `menu_items` WRITE;
/*!40000 ALTER TABLE `menu_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_items2`
--

DROP TABLE IF EXISTS `menu_items2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_items2` (
  `menu_item_id` int(11) NOT NULL AUTO_INCREMENT,
  `menu_item_name` varchar(255) NOT NULL,
  `menu_description` text NOT NULL,
  `menu_url` varchar(255) NOT NULL,
  `menu_parent_id` int(11) NOT NULL,
  `url_target` varchar(255) NOT NULL,
  `categoria` varchar(255) NOT NULL,
  PRIMARY KEY (`menu_item_id`),
  UNIQUE KEY `menu_item_name` (`menu_item_name`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_items2`
--

LOCK TABLES `menu_items2` WRITE;
/*!40000 ALTER TABLE `menu_items2` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_items2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objetivos`
--

DROP TABLE IF EXISTS `objetivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objetivos` (
  `objetivos` varchar(255) NOT NULL,
  PRIMARY KEY (`objetivos`),
  UNIQUE KEY `objetivos` (`objetivos`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objetivos`
--

LOCK TABLES `objetivos` WRITE;
/*!40000 ALTER TABLE `objetivos` DISABLE KEYS */;
